.featured {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}
.featured__card {
  display: flex;
  align-items: center;
  gap: 18px;
}
.featured__card__info__title {
  font-size: 44px;
  font-weight: 700;
}
.featured__card__info__text {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
}
.featured__card__info__btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.featured__card__info__btn button {
  padding: 3px 8px;
  font-size: 16px;
  background-color: #142850;
  color: white;
  border-radius: 15px;
}